<html>
  <head> </head>
  <body>
    <table>
      <tr>
        <th> name </th>
        <th> email </th>
        <th> hobby </th>

      </tr>
      <tr>
      <td>
        <% users = User.all() %>
      </td>
      <% users.each do |u| %>
        <tr>
        <td><%= u.name %></td>
        <td><%= URI.decode(u.email) %></td>
        <td><%= u.hobby %></td>
      </tr>
      <% end %>
      <td></td>
      </tr>

    </table>
  </body>
  <form action="onclick.html" method="POST">
      <p>
        名前：<input type="text" name="name">
      </p>
      <p>
        email：<input type="text" name="email">
      </p>
      <p>
        hobby：<input type="text" name="hobby">
      </p>
      <p>
        <input type="submit" value="送信する">
      </p>
  </form>
</html>
