<html>
  <head> </head>
  <body>
    <table>
      <tr>
        <th> name </th>
        <th> email </th>
      </tr>
      <tr>
      <td>
        <% users = $user.all() %>
      </td>
<% users.each do |u| %>
  <tr>
    <td><%= u.split(',').first %></td>
    <td><%= u.split(',').last %></td>
  </tr>
<% end %>
      <td></td>
      </tr>

    </table>
  </body>
  <form action="onclick.html" method="POST">
      <p>
        名前：<input type="text" name="name">
      </p>
      <p>
        email：<input type="text" name="email">
      </p>
      <p>
        <input type="submit" value="送信する">
      </p>
  </form>
</html>
