<html>
  <head> </head>
  <body>
    <table>
      <tr>
        <th> name </th>
        <th> email </th>
        <th> hobby </th>
      </tr>
      <% u = User.all()[$id-1] %>
      <tr>
        <td><%= u.name %></td>
        <td><%= URI.decode(u.email) %></td>
        <td><%= u.hobby %></td>
      </tr>
    </table>
  </body>
</html>
