<html>
  <head> </head>
  <body>
    <table>
      <tr>
        <th> name </th>
        <th> email </th>
      </tr>
      <% u = $user.all()[$id-1] %>
      <tr>
        <td><%= u.split(',').first %></td>
        <td><%= u.split(',').last %></td>
      </tr>
    </table>
  </body>
</html>
