<html>
  <head> </head>
  <body>
    <table>
      <tr>
        <th> name </th>
        <th> email </th>
      </tr>
      <tr>
      <td>
        <% u = user.all()[$id-1] %>
      </td>
  <tr>
    <td><%= u.split(',').first %></td>
    <td><%= u.split(',').last %></td>
  </tr>
      <td></td>
      </tr>

    </table>
  </body>
</html>
